:root {
  --Primary: rgb(155, 0, 0);
  --Primary-light: #1d1d20;
  --Primary-dark: #000000;
  --Grey-light-1: #faf9f9;
  --Grey-light-2: #f4f2f2;
  --Grey-light-3: #f0eeee;
  --Grey-light-4: #ccc;
  --Grey-dark-1: #333;
  --Grey-dark-2: #777;
  --Grey-dark-3: #999;
  --Red: rgb(14, 14, 14);
  --Old-side: #4b5320;
  --Blue: #00a0c1;
  --Green: rgb(192, 0, 0);
  --Sand-Light: #1d1d20;
  --box-shadow: 0 2rem 6rem rgba(0,0,0,.3);
  --box-shadow-light: 0 2rem 5rem rgba(0,0,0,.06);
  --line: 1px solid var(--Grey-light-2)
; }

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Catamaran", "Open Sans", "Oxygen", "Questrial", sans-serif; }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 50%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 43.75%; } }

body {
  background-color: --Primary;
  background-color: #0E0E10;
  min-height: 100vh; }

body {
  font-size: 1.6rem;
  line-height: 1.8;
  color: #777;
  color: var(--Grey-dark-2);
  font-family: "Catamaran", "Open Sans", "Oxygen", "Questrial", sans-serif; }

.header {
  background-color: #1d1d20;
  background-color: var(--Sand-Light);
  font-size: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 1rem; }
  @media (max-width: 514px) {
    .header {
      flex-direction: column;
      text-align: center; } }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.text {
  color: whitesmoke;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  line-height: 3rem; }

.sub-heading {
  color: whitesmoke;
  font-size: 3.5rem;
  line-height: 10rem;
  font-weight: 700;
  align-self: flex-start;
  width: 100%;
  background-color: #0f0f11;
  padding: 2rem 5rem; }

.sub-heading-two {
  font-size: 3.5rem;
  line-height: 10rem;
  font-weight: 700;
  align-self: flex-start;
  color: black; }

.ter-heading {
  font-size: 3rem;
  line-height: 10rem;
  font-weight: 600;
  color: whitesmoke; }

.secondary-heading {
  font-size: 1.8rem;
  font-size: 700; }

@media (max-width: 514px) {
  .heading__text {
    padding-left: 0; } }

.heading__slogan {
  color: whitesmoke;
  font-size: 1.8rem;
  text-align: center; }
  @media only screen and (max-width: 375px) {
    .heading__slogan {
      font-size: 3rem; } }
  @media only screen and (max-width: 505px) {
    .heading__slogan {
      font-size: 3rem; } }

.header__style {
  margin: 1.5rem 0;
  font-size: 5rem;
  font-weight: 700;
  text-align: center; }
  .header__style--shade {
    color: #3b3a3a;
    font-weight: 300; }

h1 {
  text-align: center;
  font-size: 4rem;
  margin-top: 5rem;
  color: black;
  padding: 3rem;
  margin: 0; }

.testomonies-headline {
  background-color: #D2B99D; }

p {
  color: black; }

.u-margin-left-medium- {
  margin-left: -3rem !important; }

.u-margin-left-medium {
  margin-left: 3rem !important; }

.u-margin-right-medium- {
  margin-right: -3rem !important; }

.u-margin-right-medium {
  margin-right: 3rem !important; }

.u-margin-top-medium- {
  margin-top: -3rem !important; }

.u-margin-top-medium {
  margin-top: 3rem !important; }

.primary {
  color: #9b0000;
  color: var(--Primary); }

.btn {
  background-image: linear-gradient(to right, var(--Primary), var(--Primary-dark));
  border-radius: 100px;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  overflow: hidden;
  font-size: 1.5rem;
  font-weight: 300;
  border: 3px solid #700707;
  cursor: pointer; }
  .btn > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all .2s; }
  .btn__visible {
    padding: 2rem 7.5rem; }
  .btn__invisible {
    position: absolute;
    top: -100%;
    left: 0;
    padding: 2rem 0; }
  .btn:hover {
    background-image: linear-gradient(to left, var(--Primary-light), var(--Primary-dark)); }
  .btn:hover .btn__invisible {
    top: 0; }
  .btn:hover .btn__visible {
    transform: translateY(100%); }
  .btn:focus {
    outline: none;
    animation: pulsate .2s infinite; }

.btn-inline {
  border: none;
  color: var(--Primary);
  font-size: inherit;
  border-bottom: .1rem solid currentColor;
  padding-bottom: 2px;
  display: inline;
  background-color: transparent;
  cursor: pointer;
  transition: all .2s; }
  .btn-inline span {
    margin-left: 3px;
    transition: margin-left .2s; }
  .btn-inline:hover {
    color: var(--Grey-dark-1); }
    .btn-inline:hover span {
      margin-left: 8px; }
  .btn-inline:focus {
    outline: none;
    animation: pulsate .2s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.gallery {
  display: flex;
  flex: 0 1 33.3%;
  align-items: stretch;
  height: 25rem; }
  .gallery__item {
    width: 100%;
    height: 100%;
    background-color: var(--Sand-Light); }
  .gallery__photo {
    height: 100%;
    width: 100%;
    display: block; }
    .gallery__photo--1 {
      height: 92%; }

.popup {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 10%;
  left: 18%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8); }
  .popup__img-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 50vh;
    background-image: url("../../img/Gallery/20200329_203055.jpg"); }
  .popup__img {
    width: 100%;
    height: 100%; }

.pop {
  position: relative; }

.training-dog-img {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.background-img {
  background-size: cover;
  padding: 5rem 5rem;
  box-shadow: var(--box-shadow-light);
  color: black;
  background-color: floralwhite; }
  @media (max-width: 37.5em) {
    .background-img {
      display: flex;
      flex-direction: column;
      align-items: center; } }

.security-dog-img {
  background-image: linear-gradient(to right, rgba(20, 19, 19, 0.925) 25%, transparent), url("../img/bg-security.jpeg");
  background-repeat: no-repeat;
  height: 100rem; }

.logo {
  height: 14rem;
  margin-right: 2rem; }
  .logo__heading {
    /* margin: 0 0 1rem 0; */
    text-transform: uppercase;
    color: var(--Grey-light-1);
    letter-spacing: .75rem;
    /* transform: scaleY(1.75); */
    font-size: 4.5rem;
    padding: 0rem; }
    @media only screen and (max-width: 375px) {
      .logo__heading {
        font-size: 6rem; } }

.overview {
  margin-top: -2rem;
  display: flex;
  align-items: center;
  background-color: var(--Grey-light-1);
  position: relative;
  z-index: 1;
  border-top: 1.5px solid var(--Primary);
  border-bottom: 1.5px solid var(--Primary); }
  .overview__heading {
    font-size: 2.25rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 4.5rem;
    color: #250101;
    font-weight: 700;
    display: flex;
    align-items: center; }
    .overview__heading > span {
      font-size: 1.2rem;
      margin-left: 2rem;
      text-transform: none; }
  .overview__stars {
    margin-right: auto;
    display: flex; }
  .overview__icon-stars, .overview__icon-location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--Primary);
    stroke: #700707;
    stroke-width: 1.5; }
  .overview__icon-location {
    margin-right: .5rem; }
  .overview__location {
    display: flex;
    color: var(--Primary);
    margin-right: 3rem;
    font-size: 1.2rem; }
  .overview__rating {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    background-color: var(--Primary);
    color: #000;
    padding: 0 2.25rem;
    border-right: none; }
    .overview__rating--average {
      font-size: 2.25rem;
      font-weight: bolder;
      margin-bottom: -3px; }
    .overview__rating--count {
      font-size: 1rem;
      font-weight: bolder;
      text-transform: uppercase; }

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 40%; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--Grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all .2s;
    margin-right: -3.25rem; }
    .search__input:focus {
      width: 100%;
      outline: none;
      background-color: var(--Grey-light-3); }
    .search__input::webkit-input-placeholder {
      font-weight: 100;
      color: var(--Grey-light-4); }
  .search__input:focus + .search__button {
    background-color: var(--Grey-light-3); }
  .search__button {
    background-color: var(--Grey-light-2);
    border: none; }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2px); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--Grey-dark-3); }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  @media only screen and (max-width: 56.25em) {
    .side-nav {
      display: flex;
      margin-top: 0; } }
  .side-nav__item {
    position: relative; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__item {
        flex: 1; } }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
      @media only screen and (max-width: 56.25em) {
        .side-nav__item:not(:last-child) {
          margin-bottom: 0; } }
    .side-nav__item::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 3px;
      height: 100%;
      background-color: #9b0000;
      background-color: var(--Primary);
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(0.79, 0.01, 0.09, 0.99) 0.2s, background-color 0.1s; }
    .side-nav__item--active::before, .side-nav__item:hover::before {
      transform: scaleY(1);
      width: 100%; }
    .side-nav__item--active::before {
      background-color: #c00000;
      background-color: var(--Green); }
  .side-nav__link:link, .side-nav__link:visited {
    text-decoration: none;
    text-transform: uppercase;
    color: #faf9f9;
    color: var(--Grey-light-1);
    display: block;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1; }
    @media only screen and (max-width: 56.25em) {
      .side-nav__link:link, .side-nav__link:visited {
        justify-content: center;
        padding: 2rem;
        flex-direction: column; } }
    @media (max-width: 505px) {
      .side-nav__link:link, .side-nav__link:visited {
        flex-direction: row; } }
  .side-nav__icon {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 2rem;
    fill: currentColor;
    margin-bottom: 1.5rem; }

.navigation > span {
  font-size: 1.7rem;
  font-weight: bold;
  margin-right: 3rem;
  color: var(--grayish-blue); }

.navigation__menu {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 700;
  margin-right: 3rem; }
  .navigation__menu:hover {
    text-decoration: underline; }
  .navigation__menu--mobile {
    color: var(--very-dark-blue);
    text-decoration: none;
    padding: 3rem; }

.navigation--mobile {
  position: absolute;
  top: 100%;
  left: -90vw;
  background-color: #1d1d20;
  background-color: var(--Primary-light);
  width: 80vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: 1rem;
  box-shadow: -1rem 2rem 2rem rgba(0, 0, 0, 0.2);
  color: white; }

.open, .close {
  margin: 0 auto;
  position: relative; }

.click {
  width: 5rem;
  filter: brightness(0) invert(1); }

.menu {
  display: none; }
  @media (max-width: 505px) {
    .menu {
      display: unset; } }

.close, menu {
  display: none; }

#menu {
  display: none; }

#menu:checked ~ menu {
  display: none;
  position: relative;
  z-index: 1; }
  @media (max-width: 505px) {
    #menu:checked ~ menu {
      display: unset; } }

#menu:checked ~ .open {
  display: none; }
  @media (max-width: 505px) {
    #menu:checked ~ .open {
      display: none; } }

#menu:checked ~ .close {
  display: none; }
  @media (max-width: 505px) {
    #menu:checked ~ .close {
      display: unset; } }

.show {
  white-space: nowrap; }

.checkbox {
  display: none; }

.hidden, .hide {
  display: none; }

#checkbox--1:checked ~ .hidden--1 {
  display: inline; }

#checkbox--1:checked ~ .hide--1 {
  display: inline; }

#checkbox--1:checked ~ .extension--1 {
  display: none; }

#checkbox--1:checked ~ .show--1 {
  display: none; }

#checkbox--2:checked ~ .hidden--2 {
  display: inline; }

#checkbox--2:checked ~ .hide--2 {
  display: inline; }

#checkbox--2:checked ~ .extension--2 {
  display: none; }

#checkbox--2:checked ~ .show--2 {
  display: none; }

#checkbox--3:checked ~ .hidden--3 {
  display: inline; }

#checkbox--3:checked ~ .hide--3 {
  display: inline; }

#checkbox--3:checked ~ .extension--3 {
  display: none; }

#checkbox--3:checked ~ .show--3 {
  display: none; }

#checkbox--4:checked ~ .hidden--4 {
  display: inline; }

#checkbox--4:checked ~ .hide--4 {
  display: inline; }

#checkbox--4:checked ~ .extension--4 {
  display: none; }

#checkbox--4:checked ~ .show--4 {
  display: none; }

#checkbox--5:checked ~ .hidden--5 {
  display: inline; }

#checkbox--5:checked ~ .hide--5 {
  display: inline; }

#checkbox--5:checked ~ .extension--5 {
  display: none; }

#checkbox--5:checked ~ .show--5 {
  display: none; }

#checkbox--6:checked ~ .hidden--6 {
  display: inline; }

#checkbox--6:checked ~ .hide--6 {
  display: inline; }

#checkbox--6:checked ~ .extension--6 {
  display: none; }

#checkbox--6:checked ~ .show--6 {
  display: none; }

.user-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-self: stretch; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
    .user-nav > *:hover {
      background-color: var(--Grey-light-3); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--Grey-dark-2); }
  .user-nav__notification {
    background-color: var(--Primary);
    border-radius: 50%;
    height: 1.75rem;
    width: 1.75rem;
    font-size: .8rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }

.courses {
  width: 30rem;
  border-radius: 1.5rem;
  box-shadow: 0 0.2rem 0.5rem 0.1rem rgba(19, 18, 18, 0.313);
  overflow: hidden;
  font-size: 0.8rem;
  background-color: white;
  margin-bottom: 3rem;
  /* justify-content: center; */
  display: flex;
  flex-direction: column;
  color: black;
  height: 48rem; }
  @media only screen and (max-width: 375px) {
    .courses {
      height: 40rem;
      width: 50rem; } }

.courses__title {
  padding: 2rem 1rem;
  background-color: #3b4743;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin: 0rem;
  font-size: 1.6rem;
  overflow: hidden; }

.courses__level {
  padding: 0.5rem;
  background-color: #5d7d72;
  color: white;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase; }

.courses__duration {
  padding: 0.6rem;
  background-color: #6fb89f;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem; }

.courses__content {
  /* background-color: yellow; */
  height: 20rem;
  padding-top: 0.5rem;
  color: black; }

.courses__headline {
  padding: 1rem 2rem;
  font-weight: 500;
  font-size: 1.1rem;
  color: black; }

.courses__headline:not(:last-child) {
  padding: 0.5rem 3rem; }

.course__list-box {
  padding: 1rem 2rem; }

.courses__list {
  padding: 0;
  margin: 0rem;
  list-style: none;
  color: black; }

.courses__summary {
  position: relative;
  list-style: none;
  margin: 0;
  padding-left: 2rem;
  font-weight: 500;
  font-size: 1.1rem;
  color: black; }

.courses__summary::before {
  content: "\2714";
  font-weight: 800;
  color: #15bf89;
  left: 0rem;
  position: absolute; }

.courses__price {
  text-align: center;
  font-size: 1.5rem;
  color: #15bf89;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 4rem;
  margin-top: 4rem;
  border: solid 1px #15bf89;
  width: 15rem;
  align-self: center;
  border-radius: 0.5rem; }

.container {
  max-width: 130rem;
  margin: 0 auto;
  box-shadow: var(--box-shadow);
  background-color: var(--Grey-light-1);
  min-height: 50rem; }
  @media only screen and (max-width: 750px) {
    .container {
      width: 100rem; } }

.content {
  display: flex; }
  @media (max-width: 56.25em) {
    .content {
      flex-direction: column; } }

.sidebar {
  flex: 0 0 18%;
  background-color: #0e0e0e;
  background-color: var(--Red);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0rem; }
  @media (max-width: 505px) {
    .sidebar {
      display: none; } }

.mobile {
  display: none;
  background-color: #1d1d20;
  background-color: var(--Primary-light); }
  @media (max-width: 505px) {
    .mobile {
      display: flex;
      padding: 1rem; } }

.pts-view {
  flex: 1;
  background-color: fff; }

.cta {
  text-align: center;
  background-color: #fff;
  padding: 3.5rem 0; }
  @media only screen and (max-width: 56.25em) {
    .cta {
      padding: 2.5rem 0; } }
  .cta__book-now {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem; }

.description {
  background-color: #fff;
  box-shadow: var(--box-shadow-light);
  margin-right: 4.5rem;
  padding: 3rem;
  font-size: 3rem; }
  @media only screen and (max-width: 56.25em) {
    .description {
      margin-right: 3rem;
      padding: 2rem; } }

.detail {
  background-color: var(--Sand-Light);
  border-bottom: var(--line);
  display: flex;
  padding: 4.5rem;
  font-size: 1.4rem;
  color: black; }
  @media only screen and (max-width: 56.25em) {
    .detail {
      padding: 3rem; } }

.footer {
  background-color: #4C4135;
  position: relative;
  display: flex;
  justify-content: space-around; }
  .footer__box {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    text-align: center; }
    @media (max-width: 450px) {
      .footer__box {
        padding: 2rem 3rem; } }
    @media (max-width: 375px) {
      .footer__box {
        flex-direction: column;
        text-align: center;
        padding: 0rem; } }
    .footer__box--1 {
      position: relative;
      flex: 0 0 16%;
      align-self: center;
      padding: 2rem; }
    .footer__box--2 {
      color: whitesmoke;
      padding: 5rem 4rem;
      flex: 0 0 36%;
      font-size: 1.3rem; }
      @media (max-width: 450px) {
        .footer__box--2 {
          padding: 4rem 2rem 0 6rem; } }
      @media only screen and (max-width: 375px) {
        .footer__box--2 {
          padding: 0rem; } }
    .footer__box--3 {
      color: black;
      padding: 3rem 2rem;
      flex: 2 0 36%;
      font-size: 1.3rem; }
      @media (max-width: 450px) {
        .footer__box--3 {
          padding: 4rem 6rem 0 2rem; } }
      @media only screen and (max-width: 375px) {
        .footer__box--3 {
          padding: 0rem;
          margin-top: 5rem;
          font-size: 2.5rem; } }
  .footer__text span {
    color: #c2aeae;
    font-weight: 700; }
  .footer__text {
    color: whitesmoke;
    font-weight: 400; }
  .footer__quote {
    color: #c2aeae; }
    @media only screen and (max-width: 375px) {
      .footer__quote {
        font-size: 3rem; } }

.text-small {
  color: floralwhite; }

.security-badge {
  width: 15rem;
  margin-bottom: 1rem; }
  @media (max-width: 37.5em) {
    .security-badge {
      margin-bottom: 3.5rem; } }

.logo-footer {
  height: 15rem;
  margin-bottom: 1rem; }

.iacp-logo-footer {
  display: inline-block;
  position: relative;
  height: 4rem; }
  @media (max-width: 37.5em) {
    .iacp-logo-footer {
      margin-bottom: 5rem; } }

.social {
  display: flex;
  margin-top: 2rem;
  justify-content: center; }
  .social__link {
    text-decoration: none;
    cursor: pointer; }
  .social__icon {
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 .75rem; }
    .social__icon--facebook {
      fill: black; }
    .social__icon--twitter {
      fill: black; }
    .social__icon--youtube {
      fill: black; }
    .social__icon--instagram {
      fill: black; }

.author {
  text-align: center;
  flex-direction: column;
  background-color: black;
  color: whitesmoke;
  font-size: 1rem; }

.dark {
  background-image: url("../img/background.png");
  background-size: cover;
  color: #fff;
  box-shadow: var(--box-shadow-light);
  font-size: 3rem;
  padding: 5rem 5rem; }
  @media only screen and (max-width: 56.25em) {
    .dark {
      padding: 2rem 4rem; } }

.light {
  padding: 5rem 10rem;
  box-shadow: var(--box-shadow-light);
  background-color: white; }

.sub-image-box {
  display: flex;
  justify-content: space-between; }

.sub-image {
  flex: 0 0 10%;
  width: 45%;
  margin: 0 2rem 2rem; }

.list {
  margin: 3rem 0;
  padding: 3rem 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  color: black; }
  @media (max-width: 37.5em) {
    .list__item {
      text-align: left; } }
  .list__item > span {
    padding-right: 3rem;
    width: 100%;
    margin-right: 19rem; }
  .list__item::before {
    content: "";
    height: 1rem;
    width: 1rem;
    padding-right: 2rem;
    background-color: var(--Primary);
    -webkit-mask-image: url(../img/chevron-small-right.svg);
    -webkit-mask-size: cover;
    mask-image: url(../img/chevron-small-right.svg);
    mask-size: cover; }
  .list__item:not(:last-child) {
    margin-bottom: 1rem; }

.selection {
  margin: 3rem 0;
  padding: 3rem 0;
  list-style: none;
  display: flex;
  flex-direction: column; }
  .selection__field::before {
    content: "\2714";
    height: 1rem;
    width: 1rem;
    padding-right: 2rem;
    color: #15bf89; }
  .selection__field:not(:last-child) {
    margin-bottom: 1rem; }

.recommend {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  color: var(--Grey-dark-3); }
  .recommend__count {
    margin-right: auto; }
  .recommend__photo {
    box-sizing: content-box;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: .3rem solid #fff; }
    .recommend__photo:not(:last-child) {
      margin-right: -1.5rem; }
  .recommend__friends {
    display: flex; }

.user-reviews {
  /* flex: 1; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #D2B99D; }
  @media (max-width: 375px) {
    .user-reviews {
      flex-direction: column; } }

.review {
  background-color: floralwhite;
  padding: 2.5rem;
  margin-bottom: 14.5rem;
  margin-top: 6.5rem;
  position: relative;
  overflow: hidden;
  width: 30rem;
  height: 30rem;
  box-shadow: 0rem 0rem 0.5rem 0.2rem #0000001c;
  border-radius: 0.5rem;
  margin: 2rem;
  margin-bottom: 5rem; }
  @media only screen and (max-width: 375px) {
    .review {
      height: 24rem;
      width: 40rem; } }

.review__text {
  margin-bottom: 2rem;
  line-height: 2.5rem;
  z-index: 10;
  position: relative;
  color: black;
  font-size: 1.2rem;
  font-weight: 500; }

.review__user {
  display: flex;
  position: absolute;
  bottom: 1rem;
  margin: 1rem; }

.review__photo {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  margin-right: 1.5rem; }

.review__user-box {
  margin-right: auto; }

.review__user-name {
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.4rem; }

.review__job {
  font-size: 0.7rem; }

.review__user-date {
  font-size: 1rem;
  color: var(--grey-dark-3); }

.review__rating {
  color: var(--primary);
  font-size: 2.2rem;
  font-weight: 300; }

.review::before {
  content: "\201C";
  position: absolute;
  top: -2.5rem;
  left: -0.8rem;
  font-size: 20rem;
  color: #15bf8916;
  font-family: sans-serif;
  line-height: 1;
  z-index: 1; }

.review::after {
  content: "\201C";
  position: absolute;
  bottom: -2.5rem;
  right: -0.8rem;
  font-size: 20rem;
  color: #15bf8916;
  font-family: sans-serif;
  line-height: 1;
  z-index: 1;
  transform: rotate(180deg); }

.about {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../img/background.png");
  background-size: cover;
  color: #fff;
  box-shadow: var(--box-shadow-light);
  font-size: 3rem;
  padding: 5rem 5rem; }
  @media only screen and (max-width: 56.25em) {
    .about {
      padding: 2rem 4rem; } }
  .about__mission {
    padding: 5rem 10rem;
    box-shadow: var(--box-shadow-light);
    background-color: white; }
  .about__photo-group {
    margin-top: 5rem;
    justify-content: center; }
  .about__photo {
    transform: scale(2); }
    .about__photo:not(:first-child) {
      margin-left: 8rem; }
  .about__list {
    display: flex; }
    @media (max-width: 37.5em) {
      .about__list {
        flex-direction: column-reverse;
        text-align: center; } }
    .about__list-text {
      flex: 0 0 80%; }
  .about__image {
    align-self: center; }
    .about__image--2 {
      align-self: center;
      order: -1;
      margin-right: 5rem;
      width: 175%; }
      @media (max-width: 37.5em) {
        .about__image--2 {
          order: 1;
          margin-right: 0;
          width: 100%; } }
  .about__image-list {
    width: 100%;
    border-radius: 1rem; }
    .about__image-list--small {
      height: 25rem;
      width: 25rem;
      border-radius: .5rem; }

.large {
  transform: scale(2); }

youtube {
  float: right; }

.videowrapper {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  border: none; }

.videowrapper-two {
  margin-bottom: 5rem;
  border: none; }

.videowrapper iframe {
  top: 0;
  left: 0; }

.home-page-vid-two {
  border: none; }

.breed__image {
  align-self: center;
  order: -1;
  margin-right: 5rem;
  flex: 0 0 22%; }

.breed__info {
  font-size: 1.5rem; }

.breed__text {
  text-align: center;
  font-weight: 700;
  font-size: 1.1rem; }

.dog__list {
  display: flex;
  /* border-top: #9b0000 1px solid; */
  border-bottom: #9b0000 1px solid;
  padding: 2rem;
  display: flex; }
  .dog__list-text {
    flex: 0 0 80%; }
  @media (max-width: 37.5em) {
    .dog__list {
      flex-direction: column; } }

.dog__image-list {
  width: 100%; }

.dog__list:last-child {
  border: none; }

.sold {
  position: relative;
  color: #f10a0a;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  top: -1rem; }

.gallery-page {
  height: 100rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: grid;
  /* flex-direction: column; */
  -ms-flex-wrap: wrap;
  /* flex-wrap: wrap; */
  position: relative;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 2rem;
  margin-bottom: 0.5rem; }

.gallery-square {
  position: relative;
  background-color: #f1683f;
  display: flex;
  justify-content: center;
  align-items: center; }

.small {
  grid-row: span 1;
  grid-column: span 1; }

.medium {
  grid-row: span 2;
  grid-column: span 2; }

.lrg {
  grid-row: span 3;
  grid-column: span 3; }

.tall {
  grid-row: span 3;
  grid-column: span 2; }

.wide {
  grid-row: span 2;
  grid-column: 1 / span 2; }

.smalltwo {
  grid-row: span 1;
  grid-column: span 1; }

.gallery-img {
  /* -webkit-box-flex: 0;
    /* -ms-flex: 0 0 16%; */
  /* flex: 0 0 16%; */
  /* margin: 1rem; */
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-size: contain;
  background-position: top left;
  position: relative;
  margin: 0; }

.gallery-img:active {
  -webkit-transform: scale(1.5);
  transform: scale(1.5);
  z-index: 10; }

.home {
  width: 100%;
  height: 60rem;
  background-image: url("http://pts-k9.com/img/IMG_00282.jpg");
  background-size: cover;
  position: relative; }
  @media (max-width: 400px) {
    .home {
      background-size: contain;
      background-repeat: no-repeat;
      margin-bottom: -4rem; } }
  @media (max-width: 294px) {
    .home {
      background-size: contain;
      background-repeat: no-repeat;
      margin-bottom: -47rem;
      background-image: url("http://pts-k9.com/img/IMG_00282.jpg"), linear-gradient(to bottom, black, grey); } }
  .home--1 {
    font-family: 'Aclonica', sans-serif;
    font-size: 7.25rem;
    position: absolute;
    color: white;
    text-transform: uppercase;
    top: 12rem;
    left: 15rem;
    letter-spacing: -7px; }
  .home--2 {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 11.25rem;
    font-style: italic;
    font-weight: 700;
    position: absolute;
    color: #ff7b00;
    top: 11rem;
    left: 24rem;
    padding-bottom: -5rem; }
    .home--2box {
      border-bottom: 6px solid #ff7b00;
      top: 26rem;
      left: 24rem;
      width: 45rem;
      position: absolute; }
  .home--3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5rem;
    font-weight: 700;
    position: absolute;
    color: white;
    top: 21rem;
    left: 43rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }
  .home--4 {
    font-family: Anton;
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 5px;
    color: white; }
  .home--box {
    top: 27rem;
    left: 16rem;
    background-color: #5f03b4;
    position: absolute;
    padding: 0rem 1rem 0; }
  .home--5 {
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10.25rem;
    position: absolute;
    color: #2dd32d;
    top: 22rem;
    left: 28rem;
    text-transform: uppercase; }
  .home--6 {
    font-family: 'Inconsolata', monospace;
    font-size: 1.2rem;
    position: absolute;
    color: white;
    top: 35rem;
    left: 28rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-transform: uppercase;
    letter-spacing: 1.5rem; }

.home-text {
  font-family: 'Catamaran', sans-serif;
  color: var(--Primary);
  line-height: 8rem;
  text-align: center;
  background-image: linear-gradient(bottom right, var(--Primay), var(--Primary-Light));
  background-size: cover; }

.circle {
  position: absolute;
  background-color: transparent;
  /* background-image: linear-gradient(to right bottom, #a7ddca 35%, #0d855b); */
  height: 28rem;
  width: 28rem;
  border-radius: 50%;
  right: -6rem;
  top: 8rem;
  border: double 20px whitesmoke; }
  @media only screen and (max-width: 375px) {
    .circle {
      right: 2rem; } }
  @media only screen and (max-width: 505px) {
    .circle {
      right: 2rem; } }
  @media only screen and (max-width: 750px) {
    .circle {
      right: 1.5rem; } }
  @media only screen and (max-width: 900px) {
    .circle {
      right: 4rem; } }
  .circle__text {
    color: whitesmoke;
    text-align: center;
    transform: rotate(-25deg);
    font-size: 2.7rem;
    padding: 1.2rem;
    position: relative;
    top: 2.5rem;
    text-transform: uppercase;
    left: 0.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    line-height: 4.5rem;
    text-shadow: 0.1rem 0.1rem #000201; }

.banner {
  background-color: floralwhite;
  text-align: center;
  color: #825839;
  font-size: 2.2rem;
  letter-spacing: .8rem;
  font-weight: 800;
  padding: 3rem; }
