.description {
    background-color: #fff;
    box-shadow: var(--box-shadow-light);
    margin-right: 4.5rem;
    padding: 3rem;
    font-size: 3rem;
    @media only screen and (max-width: $medium) {
        margin-right: 3rem;
        padding: 2rem;
    }
}