.detail {
    background-color: var(--Sand-Light);
    border-bottom: var(--line);
    display: flex;
    padding: 4.5rem;
    font-size: 1.4rem;
    color: black;
    @media only screen and (max-width: $medium) {
        padding: 3rem;   
    }
}