.dark {
    background-image: url('../img/background.png');
    background-size: cover;
    color: #fff;
    box-shadow: var(--box-shadow-light);
    font-size: 3rem;
    padding: 5rem 5rem;
    @media only screen and (max-width: $medium) {
        padding: 2rem 4rem;
    }
}

.light {
    padding: 5rem 10rem;
    box-shadow: var(--box-shadow-light);
    background-color: floralwhite;
}

.sub-image-box {
    display: flex;
    justify-content: space-between;
}

.sub-image {
    flex: 0 0 10%;
    width: 45%;
    margin: 0 2rem 2rem;
}