// // 

// @media (min-width: 375px){
//     .sidebar {padding: 1rem};
// }
// @media (max-width: 375px){
//     .sidebar {display: none;};
// }
// @media (max-width: 900px){
//     .sidebar {display: none;};
// }



// @media (max-width: 900px){
//     .side-nav {background-color:rgb(255, 0, 136)
//         ;

// }
// }

// @media (max-width: 750px) {
//     .circle__text {
//         font-size: 1.5rem;
//         top: .5rem;
//         line-height: 3.5rem;
//     }
//   }

// @media (max-width: 750px) {
//     .circle {
//         height: 20rem;
//         width: 20rem; 
//         right: 1.5rem;
//         border: double 15px rgb(109, 231, 22);
        
//     }
//   }

